<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Utilitywise Styleguide</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>

<body>

  <div class="nav-bar">
    <div class="burger">
      <div class="bar-1">
      </div>
      <div class="bar-2">
      </div>
      <div class="bar-3">
      </div>
    </div>
  </div>

  <div class="header-type">
    <h1>Typography</h1>
  </div>


  <div class="type-container">
    <h1>H1 - THIS WORKS IN CAPS</h1>
    <h2>H2 - THIS WORKS IN CAPS</h2>
    <h3>H3 - THIS WORKS IN CAPS</h3>
    <br><br>
    <h4>H4 - Subheadlines work with this typeface. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus.</h4><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.</p>

  </div>

  <!-- <div class="color-container">
    <div class="red-1">
    </div>
    <div class="red-2">
    </div>
    <div class="coal">
    </div>
    <div class="yellow">
    </div>
    <div class="mustard">
    </div>
    <div class="rust">
    </div>
    <div class="lilac">
    </div>
    <div class="navy-1">
    </div>
    <div class="navy-2">
    </div>
    <div class="blue">
    </div>
    <div class="mint">
    </div>
    <div class="green">
    </div>
  </div> -->



</body>
