<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Utilitywise Styleguide</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>

<body>

  <div class="nav-bar">
    <div class="burger">
      <div class="bar-1">
      </div>
      <div class="bar-2">
      </div>
      <div class="bar-3">
      </div>
    </div>
  </div>

  <div class="header-color">
    <h1>Colours</h1>
  </div>

  <div class="spacer-small">
  </div>

  <ul class="color-container">
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
  </ul>



</body>
