<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Utilitywise Styleguide</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

  <div class="color-container">
    <div class="red-1">
    </div>
    <div class="red-2">
    </div>
    <div class="coal">
    </div>
    <div class="yellow">
    </div>
    <div class="mustard">
    </div>
    <div class="rust">
    </div>
    <div class="lilac">
    </div>
    <div class="navy-1">
    </div>
    <div class="navy-2">
    </div>
    <div class="blue">
    </div>
    <div class="mint">
    </div>
    <div class="green">
    </div>
  </div>

  <div class="type-container">
    <h1>H1 - Headlines are large</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend malesuada augue eget finibus. Aliquam eget fringilla lorem. Curabitur pretium lorem nunc, semper suscipit purus commodo id. Morbi orci arcu, vestibulum ac tellus at, pellentesque viverra mauris. Curabitur lacinia elementum metus, ac ultricies lacus pellentesque eget. Pellentesque placerat maximus nibh, elementum dignissim diam. Vivamus accumsan velit massa, sed molestie turpis commodo et. Donec rutrum lectus et enim finibus volutpat.</p>
  </div>



</body>
