<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Utilitywise Styleguide</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

<!-- INTRODUCTION -->
  <div class="nav-bar">
    <div class="burger">
      <div class="bar-1">
      </div>
      <div class="bar-2">
      </div>
      <div class="bar-3">
      </div>
    </div>
  </div>


<!-- TYPOGRAPHY -->
  <div class="header-type">
    <h1>Typography</h1>
  </div>

  <div class="spacer-medium">
  </div>

  <div class="type-container">
    <h1>Headlines are short & punchy</h1>
    <h3>Subheadlines help to define clarity.</h3>
    <div class="spacer-small">
    </div>

      <p class="c1-1"><strong>Body copy can begin with bold to emphasize the introduction paragraph leading into regular.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.</p>

      <p class="c1-2">Consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.</p>

  </div>

  <div class="spacer-small">
  </div>

  <div class="type-on-color">
    <div>
      <h1>Headlines on Colour</h1>
      <p>This is how copy can be displayed as title cards within a user flow could appear using these typefaces agains a solid colour background.</p>
    </div>
  </div>

  <div class="spacer-small">
  </div>

  <div class="type-container">
    <p class="c2-1">Donec bibendum mauris ut enim vulputate ornare. Aliquam malesuada ligula ipsum, sed facilisis sapien scelerisque quis. Sed pretium ligula quis nulla imperdiet hendrerit vitae ut arcu. Cras eleifend pretium suscipit. Praesent euismod euismod turpis eget lobortis. Praesent lacinia dolor egestas risus tempor pharetra.</p>
    <p class="c2-2">Nulla facilisi. Morbi eu magna eu magna ultricies accumsan quis eget sapien. Quisque vitae risus eu risus feugiat gravida. Proin congue enim mi, id dictum sapien fringilla in. Donec volutpat ligula turpis, sed hendrerit enim interdum vitae. Nunc blandit justo et lectus scelerisque finibus. Proin turpis justo, faucibus sed bibendum quis, viverra eu lectus.</p>
    <p class="c2-3">Curabitur finibus pretium ligula vitae mattis. Sed ac fermentum mauris, sed gravida lorem. Aliquam nunc lectus, interdum nec lacinia quis, venenatis sed diam. Sed a hendrerit massa. Suspendisse potenti. Sed id dolor sapien. Cras ultrices nulla at semper ornare. Cras purus enim, interdum ut vehicula ac, imperdiet sit amet est. Integer pulvinar velit sed placerat.</p>
  </div>

  <div class="spacer-medium">
  </div>

  <div class="type-container">
    <h2>Titles leading content</h2>
  </div>

  <div class="spacer-tiny">
  </div>

  <div class="type-on-color">
  </div>

  <div class="questions">

    <div class="spacer-medium">
    </div>

    <ul>
      <li>
        <h4>Let's begin with your name.</h4>
        <input type="text" name="firstname" placeholder="Full Name">
        <div class="button">
          <h4>Next</h4>
        </div>
      </li>
      <li>
        <h4>Could you tell me your postcode?</h4>
        <input type="text" name="firstname" placeholder="Post Code">
        <div class="button">
          <h4>Next</h4>
        </div>
      </li>
    </ul>

    <div class="spacer-medium">
    </div>

  </div>


<!-- COLORS -->
  <div class="header-color">
    <h1>Colours</h1>
  </div>

  <div class="spacer-medium">
  </div>

  <ul class="color-container">
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
    <li class="color"></li>
  </ul>

</body>
