<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Utilitywise Styleguide</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

<!-- INTRODUCTION -->
  <div class="nav-bar">
    <div class="burger">
      <div class="bar-1">
      </div>
      <div class="bar-2">
      </div>
      <div class="bar-3">
      </div>
    </div>
  </div>

<!-- TYPOGRAPHY -->
  <div class="header-type">
    <div class="section-wrapper">
      <div class="section-margin">
        <h3>Typography.</h3>
      </div>
    </div>
  </div>

  <div class="spacer-medium">
  </div>

  <div class="section-wrapper">
    <div class="type-container">
      <h1>Headlines are short & punchy</h1>
      <h3>Subheadlines help to define clarity.</h3>

      <div class="spacer-small">
      </div>

      <p class="txtcol-1-2"><strong>Body copy can begin with bold to emphasize the introduction paragraph leading into regular.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.
      Consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.</p>

    </div>
  </div>

  <div class="spacer-small">
  </div>

  <div class="type-on-color">
    <div>
      <h1>Headlines on Colour</h1>
      <p>This is how copy can be displayed as title cards within a user flow could appear using these typefaces agains a solid colour background.</p>
    </div>
  </div>

  <div class="spacer-small">
  </div>

  <div class="section-wrapper">
    <div class="type-container">
      <p class="txtcol-1-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius commodo neque a placerat. Integer mauris mi, cursus vel pulvinar venenatis, euismod non magna. Cras sodales finibus molestie. Morbi interdum nunc sit amet nisl euismod, sed dignissim urna auctor. Nullam imperdiet ut tellus eget auctor. Aenean tempor condimentum consectetur. Morbi nec erat iaculis ante ultrices mattis. Maecenas luctus ullamcorper ex non porta. Vestibulum fringilla, dolor eu porttitor egestas, lorem erat mollis nisi, in eleifend erat tortor sit amet magna. Curabitur nunc velit, finibus eu rhoncus a, eleifend a sapien. Integer id lectus in quam ullamcorper pulvinar. Fusce fermentum mollis ultricies. Curabitur in tortor mollis ante convallis dignissim quis eu risus. Morbi ut ultricies neque. Duis cursus neque sed pretium ultricies. Praesent ut ante eu turpis convallis lobortis quis viverra leo.</p>
    </div>
  </div>

  <div class="spacer-medium">
  </div>

  <div class="section-wrapper">
    <div class="type-container">

      <div class="title">
        <h2>Titles leading content</h2>
      </div>

      <div class="spacer-small">
      </div>

      <p class="txtcol-1-2"><strong>Body copy can begin with bold to emphasize the introduction paragraph leading into regular. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales.</strong> Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.
      Consectetur adipiscing elit. Aenean tincidunt vel diam eu sodales. Aliquam suscipit orci ut pharetra luctus. Etiam eu efficitur magna. Sed et consequat quam. Quisque vel interdum purus, nec porttitor est. Nulla tempus sem a justo imperdiet, sed rutrum neque iaculis. In tincidunt interdum ornare. In varius ex eget pharetra venenatis. Curabitur mi erat, cursus quis volutpat sit amet, luctus in erat. Proin et neque sit amet erat porta mollis. Quisque gravida nunc et malesuada luctus.</p>

      <div class="spacer-medium">
      </div>

    </div>
  </div>



<!-- COLORS -->
  <div class="header-color">
    <div class="section-wrapper">
      <div class="section-margin">
        <h3>Colours.</h3>
      </div>
    </div>
  </div>

  <div class="spacer-medium">
  </div>

  <div class="section-wrapper">
    <ul class="color-container">
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
      <li class="color"></li>
    </ul>
  </div>

  <div class="spacer-medium">
  </div>


<!-- UI COMPONENTS -->
  <div class="header-ui">
    <div class="section-wrapper">
      <div class="section-margin">
        <h3>UI Components.</h3>
      </div>
    </div>
  </div>

  <div class="questions">

    <div class="spacer-medium">
    </div>

    <ul>
      <li>
        <h4>Hi there, what's your name?</h4>
        <input type="text" name="firstname" placeholder="" autocomplete="off">
        <div class="button">
          <p>Next</p>
        </div>
      </li>
      <li>
        <h4>Could you tell me your postcode?</h4>
        <input type="text" name="firstname" placeholder="" autocomplete="off">
        <div class="button">
          <p>Next</p>
        </div>
      </li>
    </ul>

    <input id="date" type="date">

    <div class="spacer-medium">
    </div>


  </div>

  <div class="results">


    <div class="grid-wrapper">
      <div>

        <a class="quote">
          <header>
              <img src="/images/logo-edf.png">
              <p class="price">£153<span>per month</span></p>
          </header>
          <footer>
              <p class="num">6 <span>months</span></p>
              <p class="num">£60 <span>saved per year</span></p>
          </footer>
        </a>

        <a class="quote">
          <header>
              <img src="/images/logo-edf.png">
              <p class="price">£153<span>per month</span></p>
          </header>
          <footer>
              <p class="num">6 <span>months</span></p>
              <p class="num">£60 <span>saved per year</span></p>
          </footer>
        </a>

        <a class="quote">
          <header>
              <img src="/images/logo-edf.png">
              <p class="price">£153<span>per month</span></p>
          </header>
          <footer>
              <p class="num">6 <span>months</span></p>
              <p class="num">£60 <span>saved per year</span></p>
          </footer>
        </a>


      </div>
    </div>

    <div class="spacer-medium">
    </div>

  </div>



</body>
