// GLOBAL
* {
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include breakpoint($small) {
    font-size: 16px
  }
  @include breakpoint($large) {
    font-size: 18px
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
textarea, input, button { outline: none; }

body {
  background-color: $white-1;
}

::selection {
  background: $green-4;
}

// COLUMN CONTROL
@include add-grid(12);
@include add-gutter(1.5em);
@include add-gutter-style('fixed');

// 12 -> 12 -> 6-6
.c1-1 {
  @include grid-span(12, 1);
  @include breakpoint($medium) {
    @include grid-span(6, 1)
  }
}

// TEXT COLUMNS

$column-gap: 2em;
$column-rule: 0px dashed $white-3;

// 1 -> 2
.txtcol-1-2 {
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: $column-gap; /* Chrome, Safari, Opera */
  column-gap: $column-gap;
  -webkit-column-rule: $column-rule;
  column-rule: $column-rule;
  @include breakpoint($medium) {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

// 1 -> 3
.txtcol-1-3 {
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: $column-gap;
  column-gap: $column-gap;
  -webkit-column-rule: $column-rule;
  column-rule: $column-rule;
  @include breakpoint($medium) {
    -webkit-column-count: 3;
    column-count: 3;
  }
}


// POSITIONING
.section-margin {
  margin: 0 3em;
  @include breakpoint($small) {
    margin: 0 4em;
  }
  @include breakpoint($medium) {
    margin: 0 6em;
  }
}

.section-wrapper {
  margin: auto;
  max-width: 1200px;
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.spacer-tiny {
  height: 1em;
}
.spacer-small {
  height: 3em;
}
.spacer-medium {
  height: 6em;
}

// NAVIGATION
.nav-bar {
  position: fixed;
}

.burger {
  position: absolute;
  display: inline-block;
  margin: 1.5em;
}

.bar-1, .bar-2, .bar-3 {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: $white-1;
  margin: 3px 0;
}

// HEADER
.header {
  width: 100vw;
  height: 12em;
  padding-top: 8em;
  color: $white-1;
}

.header-intro {
  @extend .header;
  background-color: $blue-1;
}
.header-type {
  @extend .header;
  background-color: $coal-1;
}
.header-color {
  @extend .header;
  background-color: $coal-1;
}
.header-ui {
  @extend .header;
  background-color: $coal-1;
}


// TYPOGRAPHY
.type-container {
  position: relative;
  @extend .section-margin;
  display: block;
  color: $coal-1;
}
.type-container h1 {
  margin-bottom: 0.1em;
}
.type-container h3 {
  margin-bottom: 0.3em;
}
.type-container h2 {
  display: inline-block;
  padding-right: .3em;
  position: relative;
  background-color: $white-1;
}
.type-container .title::before {
  content: '';
  position: absolute;
  height: 2px;
  background: $coal-1;
  left: 0;
  right: 0;
  top: 22px;
}


.type-on-color {
  position: relative;
  @extend .section-margin;
  height: 40em;
  padding: 6em;
  color: $white-1;
  background-color: $blue-1;
  text-align: left;
}
.type-on-color div {
  position: absolute;
  @extend .center-xy;
  max-width: 320px;
}
.type-on-color h1 {
  padding-bottom: .1em;
  margin-bottom: .2em;
  border-bottom: 2px solid $white-1;
}

// COLORS FLEX
.color-container {
  @extend .section-margin;
  display: flex;
  justify-content: left;
  overflow: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.color-grid {
  width: 8em;
  height: 8em;
  border-radius: 0 0 0.5em;
  margin: 0 1em 1em 0;
}

.color:nth-child(1) {
  @extend .color-grid;
  background-color: $uw-red;
}
.color:nth-child(2) {
  @extend .color-grid;
  background-color: $coal-1;
}
.color:nth-child(3) {
  @extend .color-grid;
  background-color: $yellow-1;
}
.color:nth-child(4) {
  @extend .color-grid;
  background-color: $green-1;
}
.color:nth-child(5) {
  @extend .color-grid;
  background-color: $mint-1;
}
.color:nth-child(6) {
  @extend .color-grid;
  background-color: $aqua-1;
}
.color:nth-child(7) {
  @extend .color-grid;
  background-color: $blue-1;
}
.color:nth-child(8) {
  @extend .color-grid;
  background-color: $lilac-1;
}
.color:nth-child(9) {
  @extend .color-grid;
  background-color: $rust-1;
}

// BUTTONS
.button {
  position: relative;
  @extend .center-x;
  display: inline-block;
  color: $white-2;
  padding: 1.2em 1.35em;
  border: 2px solid $white-1;
  border-radius: $br-medium;
}
.button h4 {
  text-transform: uppercase;
}

// FORMS
.questions {
  position: relative;
  height: 48em;
  width: 100vw;
  background-color: $blue-1;
}
.questions ul {
  position: absolute;
  @extend .center-x;
  width: 360px;
}
.questions li {
  margin-bottom: 5em;
}
.questions h3 {
  color: $white-1;
}

input {
  border: 0;
  outline: 0;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 90px;
  margin: 0 0 40px;
  padding: 16px 0 0;
  background: transparent;
  border-bottom: 2px solid $green-4;
  color: $green-4;
  font-family: $body;
  font-size: 1.872em;
  font-weight: 400;
}
::-webkit-input-placeholder {
  color: $green-4;
}
input[type=text]:focus {
  // border-bottom: 4px solid $blue-1;
}

// RESULTS
.results {
  width: 100vw;
  background-color: $white-2;
}
.grid-wrapper {
  @extend .section-wrapper;
  position: relative;
  background-color: $blue-1;
  padding: 13em 0;
}
.grid-wrapper div:first-child {
  @extend .section-margin;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px,2fr));
}

// QUOTE
.quote {
  cursor: pointer;
  border-radius: $br-medium;
  background-color: $white-1;
  padding: 24px ;
  position: relative;
  color: $coal-1;
}
.quote img {
  display: block;
  margin: 6px 0 12px;
}
.quote footer {
  display: flex;
  margin: 16px 0 8px;
}
.quote p {
  line-height: 1;
  flex: 1 1 50px;
}
.quote span {
  display: block;
  font-family: $labels;
  font-size: 16px;
  margin-top: -3px;
}
.quote .price {
  font-family: $headline;
  font-size: 3.5em;
}
.quote .num {
  font-family: $headline;
  font-size: 2.5em;
}
