// GLOBAL
* {
  font-size: 13px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include breakpoint($small) {
    font-size: 16px
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

// POSITIONING
.section-margin {
  margin: 0 3em;
  @include breakpoint($small) {
    margin: 0 4em;
  }
  @include breakpoint($medium) {
    margin: 0 6em;
  }
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.spacer-small {
  height: 3em;
}
.spacer-medium {
  height: 6em;
}

// NAVIGATION
.nav-bar {
  position: fixed;
}

.burger {
  position: absolute;
  display: inline-block;
  margin: 1.5em;
}

.bar-1, .bar-2, .bar-3 {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: $white;
  margin: 3px 0;
}

// HEADER
.header {
  width: 100vw;
  height: 14em;
  color: white;
  padding: 7em 6em 0em;
}

.header-intro {
  @extend .header;
  background-color: $blue-1;
}
.header-type {
  @extend .header;
  background-color: $coal-1;
}
.header-color {
  @extend .header;
  background-color: $yellow-1;
}

// TYPOGRAPHY
.type-container {
  @extend .section-margin;
  display: block;
  color: $coal-1;
}

.type-on-color {
  position: relative;
  @extend .section-margin;
  height: 32em;
  padding: 3em;
  color: $white;
  background-color: $aqua-1;
  text-align: center;
}
.type-on-color div {
  position: absolute;
  @extend .center-xy;
  width: 66%;
}
.type-on-color h1 {
  margin-bottom: .1em;
}

// COLORS FLEX
.color-container {
  @extend .section-margin;
  display: flex;
  justify-content: left;
  overflow: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.color-grid {
  width: 6em;
  height: 6em;
  border-radius: 0 0 0.8em;
  margin: 0 1em 1em 0;
}

.color:nth-child(1) {
  @extend .color-grid;
  background-color: $uw-red;
}
.color:nth-child(2) {
  @extend .color-grid;
  background-color: $coal-1;
}
.color:nth-child(3) {
  @extend .color-grid;
  background-color: $yellow-1;
}
.color:nth-child(4) {
  @extend .color-grid;
  background-color: $green-1;
}
.color:nth-child(5) {
  @extend .color-grid;
  background-color: $mint-1;
}
.color:nth-child(6) {
  @extend .color-grid;
  background-color: $aqua-1;
}
.color:nth-child(7) {
  @extend .color-grid;
  background-color: $blue-1;
}
.color:nth-child(8) {
  @extend .color-grid;
  background-color: $lilac-1;
}
.color:nth-child(9) {
  @extend .color-grid;
  background-color: $rust-1;
}
