// PRIMARY COLORS
$logo-red: #e12726;
$common-red: #e73e35;

// SECONDARY COLORS
$coal: #282828;
$yellow: #f7aa00;
$mustard: #f18a28;
$rust: #872318;
$lilac: #a0608b;
$navy-1: #3c5e85;
$navy-2: #4c7583;
$blue: #649cbe;
$mint: #81aaa6;
$green: #658b3d;
