// PRIMARY COLORS
$uw-red: #e84035;

$white-1: #fff;
$white-2: #ecf0f1;
$white-3: #d5d5d5;
$black: #000;

// GREYS
$coal-1: #282828;
$coal-2: #595656;
$coal-3: #979495;

// YELLOWS
$yellow-1: #f7aa00;
$yellow-2: #fbc35e;
$yellow-3: #fedea8;

// GREENS
$green-1: #6b9539;
$green-2: #a3bc52;
$green-3: #c7dea9;

// MINTS
$mint-1: #81aaa6;
$mint-2: #a9c1c0;
$mint-3: #a9c1c0;

// AQUAS
$aqua-1: #4c7583;
$aqua-2: #8298a4;
$aqua-3: #b7c0c8;

// BLUES
$blue-1: #336f8f;
$blue-2: #6ea7c3;
$blue-3: #a9c9df;

// LILACS
$lilac-1: #a0608b;
$lilac-2: #ba8eab;
$lilac-3: #d5bdd0;

// RUSTS
$rust-1: #872318;
$rust-2: #a95b48;
$rust-3: #ca9c8c;

// BREAKPOINT
$small: 415px;
$medium: 769px;
$large: 1200px;

// BORDER RADIUS
$br-small: 3px;
